<div class="modal-dialog" style="max-width: 400px">
    <div class="modal-content">

        <div class="modal-header" style="position: relative;">
            <h4 class="modal-title" style="text-align: center; width: 100%;">{{# str }} titleforchoosesettings, cardboxx {{/ str }}</h4>
            <button id="cardboxx-close-settings" type="button" class="close" data-dismiss="modal" style="position: absolute; right: 15px;">&times;</button>
        </div>

        <input type="hidden" id="cardcount" value="{{cardcount}}">
        <input type="hidden" id="duecardcount" value="{{duecardcount}}">


        <div class="modal-body cardboxx-options" style="display: none">

            <!--

            <div class="item a goldenleft">{{# str }} choosecorrectionmode, cardboxx {{/ str }}</div>
            <div class="item b goldenrigth">
                <form id="cardboxx-form" class="felement">
                    <input type="radio" id="cardboxx-autocorrection" name="correctionmode" value="0" class="form-check-input" {{#autoenabled}}checked{{/autoenabled}} {{#autodisabled}}disabled{{/autodisabled}}> {{# str }} autocorrection, cardboxx {{/ str }}<br>
                    <input type="radio" id="cardboxx-selfcorrection" name="correctionmode" value="1" class="form-check-input" {{#autodisabled}}checked{{/autodisabled}}>{{# str }} selfcorrection, cardboxx {{/ str }}
                </form>
            </div>

            <div class="item c goldenleft" id="cardboxx-onlyonetopic-select">{{# str }} onlyonetopic, cardboxx {{/ str }}</div>
            <div class="item d goldenrigth" id="cardboxx-onlyonetopic-choices">
                <select id="cardboxx-onlyonetopic" name="onlyonetopic" class="custom-select">
                    {{#choicestopics}}
                        <option value="{{value}}">{{label}}</option>
                    {{/choicestopics}}
                </select>
            </div>

            <div class="item e goldenleft" id="cardboxx-topic-description">{{# str }} weightopic, cardboxx {{/ str }}</div>
            <div class="item f goldenrigth" id="cardboxx-topic-select">
                <select id="cardboxx-topic" name="topic" class="custom-select">
                    {{#topics}}
                        <option value="{{value}}">{{label}}</option>
                    {{/topics}}
                </select>
            </div>
                        -->

            <div id="cardboxx-practiceall-select" style="display: none;" class="item g goldenleft">{{# str }} practiceall, cardboxx {{/ str }}&nbsp; {{{helpbuttonpracticeall}}}</div>
            <div id="cardboxx-practiceall-choices" style="display: none;" class="item h goldenrigth">
                <form id="cardboxx-form-practiceall" class="felement">
                    <input type="radio" id="cardboxx-practiceall-yes" name="practiceall" value="0" class="form-check-input"> {{# str }} yes, cardboxx {{/ str }}<br>
                    <input type="radio" id="cardboxx-practiceall-no" name="practiceall" value="1" class="form-check-input" checked>{{# str }} no, cardboxx {{/ str }}
                </form>

            </div>

            <!--
            <div class="item i goldenleft" id="cardboxx-amount-cards">{{# str }} maxnumbercardspractice, cardboxx {{/ str }}</div>
            <div class="item j goldenrigth" id="cardboxx-amount-cards-select">
                <select id="cardboxx-amountcards" name="amount-cards" class="custom-select">
                    {{#amountcards}}
                        <option value="{{value}}">{{label}}</option>
                    {{/amountcards}}
                </select>
            </div>
            -->

        </div>

        <div class="modal-footer">
          <button id="cardboxx-apply-settings" type="button" class="btn btn-primary">{{# str }} beginpractice, cardboxx {{/ str }}</button>
          <button id="cardboxx-cancel-settings" type="button" class="btn btn-secondary" data-dismiss="modal">{{# str }} cancel, cardboxx {{/ str }}</button>
        </div>

    </div>
</div>
