<div id="cardbox-practice-content" class="row cardbox-practice-content">

    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 35px; margin-top: 10px;">
        <div class="progress" style="height: 18px;">
            <div class="progress-bar" role="progressbar" style="width: {{percentage}}%; text-align: left;
                    padding-left: 15px; color:#AC332D; font-weight: bold; background-color: #F29C39;" aria-valuenow="{{remainingcards}}" aria-valuemin="0" aria-valuemax="{{totalcards}}">
                {{remainingcards}} / {{totalcards}}</div>
        </div>
    </div>


    <div class="hidden-xs col-md-1 col-lg-2 col-xl-2"></div>

    <div id="cardbox-cardcontainer-question" class="col-xs-12 col-md-10 col-lg-8 col-xl-8 question-answer">
        {{#question}}
            {{> mod_cardbox/cardside }}
        {{/question}}

        <div class="horizontal-line"></div>

        {{#answer}}
                {{#morethanonesolution}}
                    {{#texts}}
                        <li class="cardbox-card-text">{{{text}}}</li>
                    {{/texts}}
                {{/morethanonesolution}}

                {{^morethanonesolution}}
                    {{#texts}}
                        <div class="cardbox-card-text">{{{text}}}</div>
                    {{/texts}}
                {{/morethanonesolution}}
        {{/answer}}
    </div>

    <div class="hidden-xs col-md-1 col-lg-2 col-xl-2">
    <!--<button id="cardbox-see-options" type="button" class="btn btn-primary" data-toggle="modal" data-target="#cardboxPracticeSettings">{{# str }} options, cardbox {{/ str }}</button>-->
    </div>

</div>


<div id="cardbox-practice-user-interaction" class="row">
    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>

    <div id="cardbox-buttons-practice" class="col-xs-12 col-md-10 col-lg-8 col-xl-6" style="margin-top: 30px">
    <span id="cardbox-proceed-buttons" class="col-xs-12 cardbox-buttons button-container-check" style="max-width: 100%">
        <button id="cardbox-mark-as-correct" type="button" class="btn btn-primary">{{# str }} markascorrect, cardbox {{/ str }}</button>
        <button id="cardbox-mark-as-incorrect" type="button" class="btn btn-primary" >{{# str }} markasincorrect, cardbox {{/ str }}</button>
    </span>
    </div>

    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>


    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>
    <div id="cardbox-cardcontainer" class="col-xs-12 col-md-10 col-lg-8 col-xl-6" style="margin-top: 10px">
        <button id="cardbox-end-session" type="button" class="btn btn-secondary">{{# str }} endpractice, cardbox {{/ str }}</button>
    </div>
    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>

</div>