<div id="cardboxx-practice-content" class="row">

    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>
    <br>

    <div id="cardboxx-cardcontainer" class="col-xs-12 col-md-10 col-lg-8 col-xl-6">
        {{# str }} suggestanswer_label, cardboxx {{/ str }}
        <br>
        {{#question}}
            {{> mod_cardboxx/cardside }}
        {{/question}}
    </div>
   <div class="hidden-xs col-md-1 col-lg-2 col-xl-3">
    </div>

</div>

<div id="cardboxx-practice-user-interaction" class="row">

    {{#contextquestionavailable}}

    <div class="hidden-xs col-lg-1 col-xl-2 col-xl-3"></div>
        <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6" >{{{contextquestion}}}</div>
    <div class="hidden-xs col-lg-1 col-xl-2 col-xl-3"></div>

    {{/contextquestionavailable}}

    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3 cardboxx-userinput"></div>
    <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6">
        <form id="cardboxx-inputform" autocomplete="off">
{{!             {{#inputfields}}
                <input id="cardboxx-suggestanswer-input" {{#suggestedansinput}}value={{{suggestedansinput}}} {{/suggestedansinput}} 
                type="text" name="answer" class="form-control cardboxx-userinput">
{{!             {{/inputfields}}
            <button id="cardboxx-savesuggestedanswer" type="button" class="btn btn-primary">{{# str }} suggestanswer_send, cardboxx {{/ str }}</button>
            <button id="cardboxx-cancel-button" type="button" class="btn btn-secondary">{{# str }} cancel, cardboxx {{/ str }}</button>
        </form>
    </div>
    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>

</div>