{{^ismanager}}
<div class="row cardboxx-statistics">

    <div class="hidden-xs col-lg-1 col-xl-1"></div>
    <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-5"><canvas id="cardboxx-statistics-cardboxxstatus" class="cardboxx-card-left-side" width="100" height="100"></canvas></div>
    <!--<div class="col-sm-2"></div>-->
    <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-5"><canvas id="cardboxx-statistics-progress-over-time" class="cardboxx-card-right-side" width="100" height="100"></canvas></div>
    <div class="hidden-xs col-lg-1 col-xl-1"></div>
</div>
{{/ismanager}}
{{#ismanager}}
<div class="row new-cardboxx-statistics">
    <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4"><canvas id="cardboxx-statistics-absolute-over-deck" class="cardboxx-card-right-side" width="100" height="100"></canvas></div>
    {{#displayweeklystats}}
        <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4"><canvas id="cardboxx-statistics-number-of-cards" class="cardboxx-card-left-side" width="100" height="100"></canvas></div>
        <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4"><canvas id="cardboxx-statistics-duration-of-a-session" class="cardboxx-card-right-side" width="100" height="100"></canvas></div>
    {{/displayweeklystats}}
</div>
{{/ismanager}}
{{#infoenrolledstudentsthreshold}}
<div class="alert alert-info alert-block fade in" role="alert" style="margin-top: 1rem">{{{infoenrolledstudentsthreshold}}}</div>
{{/infoenrolledstudentsthreshold}}