<div id="cardboxx-topics">         

    <div class="cardboxx-create-topic-titles">{{#str}} addnewtopic, cardboxx {{/str}}</div>
    <div class="col-xs-6" style="display: flex"> 
        <input id="create-new-topic" type="text" class="form-control">
        <input id="cardboxx-submit-new-topic" type="submit" value="{{# str }} createtopic, cardboxx {{/ str }}" class="btn btn-primary">
    </div>

    
    {{#notopics}}
    <div class="cardboxx-create-topic-titles">{{#str}} notopics, cardboxx {{/str}}</div>
    {{/notopics}}

    {{^notopics}}
    <div class="cardboxx-create-topic-titles">{{#str}} existingtopics, cardboxx {{/str}}</div>

    {{#topic}}

        <div class="col-xs-2" style="margin-bottom: 1rem">
            <div id="cardboxx-topic-in-review" data-topicid="{{id}}" data-titel="{{{titel}}}">
                <div id="cardboxx-topic-{{id}}">
                    <div id="topictitel-{{id}}" style="display: inline">{{{titel}}}</div> ({{cards}} {{# str }} flashcards, cardboxx {{/ str }})
                    <button id="cardboxx-edit-topics-{{id}}" type="button" class="quickediticon visibleifjs cardboxx-edittopics-edit-button" title="{{# str }} edit, cardboxx {{/ str }}" style="background-color: transparent;"><i class="icon fa fa-pencil fa-fw"></i></button>
                    <button id="cardboxx-delete-topics-{{id}}" type="button" class="quickediticon visibleifjs cardboxx-edittopics-delete-button" title="{{# str }} delete, cardboxx {{/ str }}" style="background-color: transparent;"><i class="icon fa fa-trash fa-fw"></i></button>
                </div>
                <div id="cardboxx-topic-rename-{{id}}" class="displaynone">
                    <input id='cardboxx-changedtopic-{{id}}' type='text'  name='changedname' class='form-control' autofocus>
                </div>
            </div>
        </div>

    {{/topic}}
    {{/notopics}}
    
    

</div>
